.home-wrapper {

    
    .home-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: calc(100vh - 63px);

        .home-text{
            display: grid;
            align-content: center;
            justify-content: center;
            justify-items: center;

            font-size: 20px;

        }
        
        .img {
            background-size: cover;
            background-position: center;
            border-radius: 5px;          
        }
    }
}